body {
    margin: 0;
    padding: 0;
}
.nav {
    position: relative;
    display: flex;
    background: #92C7CF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-content: space-between;
    height: 70px;
}
.logo{
    margin: auto 20px;
    font-size: 40px;
}
.nav ul{
    display: flex;
    margin: auto 0;
}
.nav li {
    list-style: none;
    margin-right: 15px;
    font-size: 28px;
}
.nav a{
    color: #000;
    text-decoration: none;
}
.nav-menu {
    display: flex;
    background: #C3E7ED;
    justify-content: right;
    height: 70px;
}
.nav-menu ul{
    display: flex;
    margin: auto 0;
    font-size: 28px;
}
.nav-menu li {
    list-style: none;
    margin-right: 15px;
}
.nav-menu a{
    color: #000;
    text-decoration: none;
}
.headerTitle{
    display: flex;
    background-color: #DFF4FD;
    justify-content: center;
}
.textTitle{
    font-size: 4rem;
}
.picbody {
    display: flex;
}
.picbody img{
    width: 100%;

}
.Description{
    background-color: #92C7CF;
    display: grid;
}
.textDescription{
    padding: 60px;
}
.textH{
    text-align: center;
    font-size: 45px;
}
.textBody{
    font-size: 30px;
}
.tableCI{
    margin: auto;
}
.tableCI{
    border: 1px solid;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: var(--border);
    overflow: hidden;
}
.tableCI th{
    background: #4EBAc9;
    border: 1px solid;
}
.tableCI td{
    border: 1px solid;
    text-align: center;
}
@media (max-width: 600px) {
    .nav{
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .nav-menu{
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .textTitle{
        font-size: 2rem;
    }
}